<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Wenqian's Portfolio</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css')}}"
    />
  </head>
  <!-- TODO: update the link for each nav bar --> 
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Flask Authentication</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('home') }}">Home</a>
          </li>
          {% if not logged_in: %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('home') }}">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('home') }}">Technical Skills</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('home') }}">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('home') }}">Resume</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('home') }}">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('home') }}">About Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('home') }}">Contact Me</a>
          </li>
        </ul>
      </div>
    </nav>
    {% block content %} {% endblock %}
  </body>
</html>
