{% include "header.html" %}

<!-- Page Header-->
<header class="masthead" style="background-image: url('{{post.img_url}}')">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">

            <div class="text-center">
                <h1 class="mx-auto my-0 text-uppercase">{{ post.title }}</h1>
                <h2>{{ post.subtitle }}</h2>
                <span class="text-black" style="font-size: 1.5rem;">Posted by

                    <a href="#">{{ post.author }}</a>
                    on {{ post.date }}
                </span>
            </div>
        </div>
    </div>
    </div>
</header>

<main class="mb-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {{ ckeditor.load() }} {{ ckeditor.config(name='body') }} {{
        render_form(form, novalidate=True, button_map={"submit": "primary"}) }}
      </div>
    </div>
  </div>
</main>


{% include "footer.html" %}