{% include "header.html" %}

    <header class="masthead">
        <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
            <div class="d-flex justify-content-center">
                <div class="text-center">
                    <h1 class="mx-auto my-0 text-uppercase">View {{category}} Projects</h1>
                </div>
            </div>
        </div>
    </header>

      <!--Features-->
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5 mx-3">
        <div class="col">
            <a href="#" style="text-decoration: none;">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                    style="background-image: url('./images/unsplash-photo-4.jpg'); background-size: contain">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Course1</h3>
                    </div>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="#" style="text-decoration: none;">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                    style="background-image: url('./images/unsplash-photo-2.jpg');  background-size: contain">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Course2
                        </h3>

                    </div>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="#" style="text-decoration: none;">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                    style="background-image: url('./images/unsplash-photo-3.jpg');  background-size: contain">

                    <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Course3</h3>

                    </div>
                </div>
            </a>
        </div>
    </div>
{% include "footer.html" %}